extends layout

block content
	//Navbar
	nav.navbar.navbar-default(role='navigation')
		div.nav-container
			div.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-brand-centered')
					span.glyphicon.glyphicon-th-list
				div.navbar-brand-centered
					a.navbar-brand(href='#') Главная
			div.collapse.navbar-collapse(id='navbar-brand-centered', style='padding-left: 0px;')
				ul.nav.navbar-nav
					li
						a(href='#') Link1
					li
						a(href='#') Link2
				ul.nav.navbar-nav.navbar-right
					li
						a(href='#') Link3
					li
						a(href='#') Link4
					li
						a(href='#') Link5
					li
						a(href='#') Link6

	//Slider
	div.carousel.slide(id='Slider', data-ride='carousel')
		ol.carousel-indicators
			li.active(data-target='#Slider', data-slide-to='0')
			li(data-target='#Slider', data-slide-to='1')
			li(data-target='#Slider', data-slide-to='2')
			li(data-target='#Slider', data-slide-to='3')
		div.carousel-inner(role='listbox')
			div.item.active
				div.text-center
					img(src='http://image.zn.ua/media/images/original/Jun2015/119141.jpg')
			div.item
				div.text-center
					img(src='http://comandir.com/upkeep/uploads/2015/07/2-e1436755811315.jpg')
			div.item
				div.text-center
					img(src='http://www.kris-dostavka.narod.ru/doc_BBC_Discovery_/sverh_bleck_holl_b.jpg')
			div.item
				div.text-center
					img(src='http://wpapers.ru/wallpapers/Space/10683/PREV_%D0%A7%D0%B5%D1%80%D0%BD%D0%B0%D1%8F-%D0%B4%D1%8B%D1%80%D0%B0.jpg')
		a.left.carousel-control(href='#Slider', role='button', data-slide='prev')
			span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
			span.sr-only Back
		a.right.carousel-control(href='#Slider', role='button', data-slide='next')
			span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
			span.sr-only Next

	//Forms
	div.row
		div.col-md-7
			div.panel.panel-default
				div.panel-heading.text-center Форма покупки
				div.panel-body
					div.container-fluid
						div.row
							div.col-sm-8.border-right
								form.form-horizontal
									div.form-group
										label.control-label.col-md-4 Продукт:
										div.col-md-8
											select.form-control(data-bind="options: productList, value: selectedProduct, click: choosingProduct")

									div.form-group
										label.control-label.col-md-4 Количество:
										div.col-md-8
											div.input-group.small-input
												input.form-control(type='text', maxlength="7", data-bind='value: productAmount, hasFocus: productAmountIsSelected, event: {blur: productAmountlostSel}')
												span.input-group-addon(data-bind='text: unitOfMeasure') гр

								form.form-inline
									div.form-group.margin-right-50
										label.control-label.margin-right-10 Цена:
										strong.inline(data-bind='text: productCostShow')
									div.form-group
										label.control-label.margin-right-10 Стоимость:
										strong.inline(data-bind='text: productSum')

								div.alert.alert-danger.low-alert.hidden
									span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
									span.sr-only Error
									span(data-bind='text: alertText')
									button.btn.text-right.close(data-bind='click: closeAlert')
										span.glyphicon.glyphicon-remove

								hr

								label.control-label Укажите адрес доставки:
								div.row.adress-margin
									div.col-xs-8
										input.form-control(type='text', maxlength="25", placeholder='Страна', data-bind="value: adressCountry")
									div.col-xs-4
										input.form-control(type='text', maxlength="6", placeholder='Индекс', data-bind="value: adressIndex")

								div.row.adress-margin
									div.col-xs-6
										input.form-control(type='text', maxlength="15", placeholder='Регион', data-bind="value: adressRegion")
									div.col-xs-6
										input.form-control(type='text',, maxlength="15", placeholder='Населенный пункт', data-bind="value: adressCity")

								div.row.adress-margin
									div.col-xs-8
										input.form-control(type='text', maxlength="15", placeholder='Улица', data-bind="value: adressStreet")
									div.col-xs-2(style='padding-right: 0px !important;')
										input.form-control.text-center(type='text', maxlength="3", placeholder='Дом', data-bind="value: adressHouse")
									div.col-xs-2(style='padding-left: 0px !important;')
										input.form-control.text-center(type='text', maxlength="3", placeholder='кв', data-bind="value: adressApartment")


							div.col-sm-4
								label(data-bind="text: chosenProduct")
								label
									label Стоимость:
									label(data-bind="text: productSum")
								label Адрес доставки:
								label(data-bind='text: adress')
								button.btn.btn-default.offer-button(type='button', data-bind='click: initAlert') В корзину!
								label.label-success(style='width: 100% !important', data-bind='text: productAmountIsSelected') 123

		div.col-md-1 2

		div.col-md-4
			div.panel.panel-default
				div.panel-heading.text-center Корзина
				div.panel-body ...






