.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
}
.footer-container {
    margin-top: 5px
}
@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 43%;
        display: block;
        width: 150px;
        text-align: center;
        padding: 0px;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: 0px;
    }
}
.nav-container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
}
.borderless-container {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
}

.left-padding {
    padding-left: 0px;
}
.inline {

}
.margin-right-50{
    margin-right: 50px;
}
.margin-right-10{
    margin-right: 10px;
}
.small-input > .form-control {
    width: 60px !important;
}
.small-input > .input-group-addon{
    display: inherit !important;
    height: 34px !important;
}
.adress-margin {
    margin-top: 15px;
    margin-bottom: 15px;
}

.border-right {
    border-right: 1px solid #ededed;
}
.offer-button {
    width: 100% !important;
    margin-top: 50px !important;
}
.low-alert{
    padding: 10px !important;
    margin-top: 10px !important;
}
.block {
    display: block !important;
}
